__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
**/.venv/
venv/
ENV/
env/

.vscode/
.idea/

*.log
.ipynb_checkpoints/
*.ipynb
!Word2vec/testingNotebook.ipynb
